[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
numpy = "*"
flask = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"
xgboost = "*"
pytest = "*"

[requires]
python_version = "3.9"
