
{% block title %}Basketball Game Predictor{% endblock %}

{% block css %}{% endblock %}

{% block body %}
<div class="container theme-showcase">
    <div class="header">
        <h1>Basketball Game Predictor</h1>
        <ul class="navigation">
            <li><a type="button">Use Box Score</a></li>
            <li><a type="button">Use Four Factors</a></li>
        </ul>
    </div>

    <div class="ingest">
        Form goes here
        <form id="boxscore">
            Home Team:

            Away Team:
        </form>
    </div>

    <div class="output">
        Prediction goes here
    </div>
</div>
{% endblock %}