{% extends 'base.html' %}

{% block title %}Basketball Game Predictor{% endblock %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
<p>
    Input the boxscore data from a basketball game and hit the button to predict the winner!
</p>
<div class="ingest">
    <form id="boxscore" action="" method="post">
        <span class="form_desc">Enter the boxscore data here:</span>
        <table>
            <tr>
                <th>Team</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>3PM</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>Total Rebounds</th>
                <th>Offensive Rebounds</th>
                <th>Turnovers</th>
            </tr>
            <tr>
                <th>Home</th>
                <td><input type="number" step="any" min="0" required="true" id="h_fgm" name="h_fgm"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_fga" name="h_fga"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_3pm" name="h_3pm"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_ftm" name="h_ftm"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_fta" name="h_fta"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_trb" name="h_trb"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_orb" name="h_orb"></td>
                <td><input type="number" step="any" min="0" required="true" id="h_tov" name="h_tov"></td>
            </tr>
            <tr>
                <th>Away</th>
                <td><input type="number" step="any" min="0" required="true" id="a_fgm" name="a_fgm"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_fga" name="a_fga"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_3pm" name="a_3pm"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_ftm" name="a_ftm"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_fta" name="a_fta"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_trb" name="a_trb"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_orb" name="a_orb"></td>
                <td><input type="number" step="any" min="0" required="true" id="a_tov" name="a_tov"></td>
            </tr>
        </table>
        <button type="submit">Predict</button>
    </form>


</div>

<div class="output">
    {% if predicted %}
    Predicted Winner: {{ predicted }}
    <br />
    Probability: {{ proba }}
    {% endif %}
</div>

{% endblock %}